<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.title %}
  {% assign title = page.title %}
{% else %}
  {% assign title = site.title %}
{% endif %}
<title>{{ title }}</title>

<!-- favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />
<link rel="icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />

<!-- font -->
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,400i" rel="stylesheet">

<!-- RSS -->
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}" />

{% if site.ga %}
{% include ga.html ga = site.ga %}
{% endif %}
