---
---
/* =======================
 * basic
 * ======================= */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 14px;
}

blockquote {
  position: relative;
  margin: 1em 0;
  padding: .3em 1em;
}

blockquote:before,
blockquote:after {
  content: '';
  position: absolute;
  background-color: #6599ff;
  width: 60%;
  height: 3px;
}

blockquote:before {
  top: 0;
  left: 1em;
}

blockquote:after {
  bottom: 0;
  right: 1em;
}

code {
  padding: 3px;
  color: #839496;
  font-size: .8em;
}

pre code {
  font-size: 1em;
}

.link-1 {
  padding: .1em;
  color: #6599ff;
  text-decoration: none;
  -webkit-transition: background-color .7s;
  -moz-transition: background-color .7s;
  transition: background-color .7s;
}

@media (min-width: 769px) {
  .link-1 {
    padding: .3em;
  }
}

.link-1:hover {
  background-color: #e6e6e6;
}

/* footer */
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 45px;
  width: 100%;
  text-align: center;
}

#footer p {
  margin: 0;
}

.clear-footer {
  position: relative;
  min-height: 100%;
  margin-bottom: -45px;
}

.clear-footer:after {
  content: "";
  display: block;
  height: 45px;
}

/* =======================
 * page layout
 * ======================= */
.wrapper:before {
  content: "";
  display: block;
  background-color: #f8f8f8;
  padding-top: 50%;
}

@media (min-width: 769px) {
  .wrapper:before {
    display: none;
  }

  .wrapper {
    background-color: #f8f8f8;
  }
}

.container {
  position: relative;
  padding-top: 55px;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: .09em;
}

.container:before {
  content: "";
  position: absolute;
  top: -55px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  background-image: url({{ site.avatar }});
  background-size: cover;
  border: 5px solid #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

@media (min-width: 600px) {
  .container {
    padding-top: 75px;
  }

  .container:before {
    top: -75px;
    width: 140px;
    height: 140px;
  }
}

@media (min-width: 769px) {
  .container {
    position: absolute;
    right: 0;
    background-color: #fff;
    height: 100%;
    width: 50%;
    min-width: 384.5px;
    padding-top: 0;
  }

  .container:before {
    top: 150px;
    left: -75px;
    margin-right: 0;
    margin-left: 0;
  }
}

/* =======================
 * post layout
 * ======================= */
.post-wrapper {
  background-color: #f8f8f8;
  overflow-x: hidden;
}

@media (min-width: 769px) {
  .post-wrapper {
    padding-left: 350px;
    overflow-x: visible;
  }
}

/* post archive trigger */
.post-archive-trigger {
  position: absolute;
  top: 18px;
  right: 10px;
  z-index: 999;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media (min-width: 769px) {
  .post-archive-trigger {
    display: none;
  }
}

.post-archive-icon {
  position: relative;
  height: 4px;
  width: 20px;
  background-color: #000;
}

.post-archive-icon:before,
.post-archive-icon:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #000;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  transition: transform 1s;
}

.post-archive-icon:before {
  top: -8px;
}

.post-archive-icon:after {
  top: 8px;
}

.post-archive-triggered.post-archive-icon:before {
  -webkit-transform: translate(-6px, 5px) rotate(-45deg) scaleX(0.5);
  -moz-transform: translate(-6px, 5px) rotate(-45deg) scaleX(0.5);
  transform: translate(-6px, 5px) rotate(-45deg) scaleX(0.5);
}

.post-archive-triggered.post-archive-icon:after {
  -webkit-transform: translate(-6px, -5px) rotate(45deg) scaleX(0.5);
  -moz-transform: translate(-6px, -5px) rotate(45deg) scaleX(0.5);
  transform: translate(-6px, -5px) rotate(45deg) scaleX(0.5);
}

/* post archive */
.post-archive {
  position: absolute;
  left: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
  -webkit-transition: left .7s;
  -moz-transition: left .7s;
  transition: left .7s;
}

@media (min-width: 600px) {
  .post-archive {
    margin-left: 15%;
    width: 70%;
  }
}

@media (min-width: 769px) {
  .post-archive {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0;
    background-color: #fff;
    width: 350px;
  }
}

.post-archive-triggered.post-archive {
  left: 0;
}

.post-archive ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 14px 18.2px 46px;
  background-color: #fff;
  list-style-type: none;
}

.post-archive li {
  margin-bottom: 1.3px;
}

@media (min-width: 769px) {
  .post-archive li {
    margin-bottom: 12.3px;
  }
}

.post-archive-iterm {
  margin-right: auto;
  margin-left: auto;
  width: 280px;
  height: 44px;
}

@media (min-width: 600px) {
  .post-archive-iterm {
    width: 330px;
  }
}

.post-archive-date {
  display: inline-block;
  padding-top: 2px;
}

@media (min-width: 769px) {
  .post-archive-date {
    padding-top: 4.2px;
  }
}

.post-archive-title {
  position: relative;
  display: inline-block;
  width: 180px;
  text-align: left;
  float: right;
}

@media (min-width:600px) {
  .post-archive-title {
    width: 230px;
  }
}

.post-archive-title:before,
.post-archive-title:after {
  content: "";
  position: absolute;
}

.post-archive-title:before {
  top: 2px;
  left: -20px;
  background-color: #c6c6c6;
  border-radius: 50%;
  border: 3px solid #fff;
  width: 10px;
  height: 10px;
  -webkit-transition: background-color .7s;
  -moz-transition: background-color .7s;
  transition: background-color .7s;
}

@media (min-width: 769px) {
  .post-archive-title:before {
    top: 4px;
  }
}

.post-archive-title:hover:before {
  background-color: #92cd00;
}

.post-archive-title:after {
  top: 18px;
  left: -13.8px;
  background-color: #c6c6c6;
  width: 3px;
  height: 55px;
}

@media (min-width: 769px) {
  .post-archive-title:after {
    top: 20px;
  }
}

.post-archive-title.checked:before {
  background-color: #6599ff;
}

/* post */
.post-header {
  border-bottom: 1px solid #e6e6e6;
  padding: 14px 19px;
}

.post-header h1 {
  margin: 0 40px 5px 0;
  font-size: 18px;
}

.chinese.post-content ul {
  list-style-type: circle;
  margin-top: -16px;
  padding-left: 23.8px;
}

.chinese.post-content p {
  margin-bottom: 32.2px;
}

.english.post-content {
  font-family: "Titillium Web", sans-serif;
}

.post-content {
  padding-right: 18.2px;
  padding-left: 18.2px;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-size: 18px;
}

.post-content h2 {
  padding-left: 18.2px;
  border-left: 3px solid #000;
}

.post-content img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

.post-content a {
  color: #6599ff;
  text-decoration: none;
  -webkit-transition: border .5s;
  -moz-transition: border .5s;
  transition: border .5s;
}

.post-content a:hover {
  border-bottom: 2px dotted #000;
}

.post-content blockquote p {
  margin: 1em 0;
}

.post-nav {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 23.8px;
  text-align: center;
}

.post-nav-sep {
  margin: 14px auto;
  width: 100px;
  height: 2px;
  background-color: #e6e6e6;
}

.post-nav-previous,
.post-nav-next {
  display: inline-block;
  color: #6599ff;
  text-decoration: none;
}

.post-nav-previous:before {
  content: "<<";
  margin-right: 14px;
  color: #8a8a8a;
}

.post-nav-next:after {
  content: ">>";
  margin-left: 14px;
  color: #8a8a8a;
}

.post-comment {
  padding: 23.8px 18.2px;
}

@media (min-width: 600px) {
  .post-header,
  .post-content,
  .post-nav,
  .post-comment {
    margin-right: 15%;
    margin-left: 15%;
    background-color: #fff;
  }

  .post-nav,
  .post-comment {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .post-header {
    text-align: center;
  }

  .post-content {
    padding: 14px 60.2px;
    border-bottom: 1px solid #e6e6e6;
  }

  .post-header h1 {
    margin: 10px 5px;
  }

  .post-comment {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }

}

@media (min-width: 769px) {
  .post-header,
  .post-content,
  .post-nav,
  .post-comment {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    min-width: 500px;
    max-width: 700px;
  }

  .post-content {
    padding-right: 31.2px;
    padding-left: 31.2px;
  }

  .post-wrapper #footer {
    padding-left: 350px;
  }
}

/* =======================
 * specific page
 * ======================= */
/* index */
#index-wrapper {
  min-height: 200px;
  padding-top: 45px;
  text-align: center;
}

#index-wrapper a:hover {
  background-color: #f8f8f8;
}

@media (min-width: 600px) {
  #index-wrapper {
    min-height: 400px;
    padding-top: 100px;
  }
}

@media (min-width: 769px) {
  #index-wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    min-height: auto;
    padding-top: 0;
  }
}

/* about */
#about-wrapper {
  min-height: 200px;
  padding: 24px;
}

@media (min-width: 600px) {
  #about-wrapper {
    min-height: 400px;
    padding: 66px 100px 0;
  }
}

@media (min-width: 769px) {
  #about-wrapper{
    position: absolute;
    top: 50%;
    width: 100%;
    min-height: auto;
    padding-top: 0;
  }
}
