---
layout: page
---

<div class="post">

  <div class="card">

    {% if page.title %}
    <h1 class="card__title article_title">{{ page.title | capitalize }}</h1>
    {% endif %}

    {% if page.date %}
    <div class="card__date">{{ page.date | date: "%Y / %m / %d" }}</div>
    {% endif %}

    <div class="article__content">{{ content }}</div>

  </div>


  <div class="post__comment">
    {% if site.disqus and page.comment %}
    <div class="post__comment--on">
      {% assign url = page.url | absolute_url %}
      {% include disqus.html username = site.disqus url = url id = page.id %}
    </div>
    {% else %}
    <div class="post__comment--off">Comment is not allowed.</div>
    {% endif %}
  </div>


  <div class="post__pagination">
    <ul>
      {% if page.next %}
      <li>{% include card.html post=page.next volume='less' %}</li>
      {% endif %}

      {% if page.previous %}
      <li>{% include card.html post=page.previous volume='less' %}</li>
      {% endif %}
    </ul>
  </div>

</div>
